<div class="space"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 class="mb-4 text-center">Outils & services JavaScript</h2>

            <!-- Search box -->
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Recherche: </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="searchText" />
              </div>

            <!-- List of posts -->
            <div class="card rounded-0 mb-3"
            *ngFor="let p of Post | reverse | filter : searchText ">
                <div class="card-header title">
                    <h3 class="uppercase" (click)="onClickPost(p._id)">{{ p.title }}
                    <span class="float-right">></span></h3>
                </div>
                <div class="card-body">
                    <button class="card-title small mb-3" (click)="onClickCategory(p.category)">Catégorie: {{ p.category }}</button>
                    <p class="card-text resum">{{ p.resum }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <app-sidebar></app-sidebar>
        </div>
    </div>
</div>