@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

  .spacer {
    flex: 1;
  }

  .toolbar {
    height: 90px;
    margin: 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #F8F0ED;
    color: black;
  }

  .toolbar a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 700;
  }

  @media only screen and (max-width:800px) {

    .toolbar {
      padding: 10px;
    }
  
    .toolbar a {
      font-size: 0.7em;
      letter-spacing: 0px;
    }

    h1 {
      font-size: 1.6em;
      letter-spacing: 1px;
    }

  }
